Build
MYMETA.*

_build
node_modules
public/css
blib
public/tsconfig.build.tsbuildinfo
public/types
public/js
public/images/HPNOFP
*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json
