[% WRAPPER layouts/default.tt %]

  [% IF comments %]
    [% comments %]
  [% END %]

  [% IF items.size > 0 %]
    <hr role="separator" class="spectrum-Divider spectrum-Divider--sizeM" />
    <div class="directory-index">
      [% INCLUDE partials/autoindex_list.tt entries=items %]
    </div>
  [% ELSE %]
      <p>No bookmarks found in this directory.</p>
  [% END %]

[% END %]
