[%# cspell: ignore kudosed %]
[% WRAPPER layouts/default.tt %]
<article>
  <ul>
    <li>
      <a class="spectrum-Link spectrum-Link--primary spectrum-Link--quiet"
         href="/Searches/Recommender">AO3 Fan Fiction Recommender</a>
      <p class="spectrum-Body spectrum-Body--serif spectrum-Body--sizeS">
        Find fic recommendations based on who else bookmarked and kudosed works you like.
      </p>
    </li>
  </ul>
</article>
[% END %]
