<div class="banner spectrum-AlertBanner is-open spectrum-AlertBanner--info">
  <div class="spectrum-AlertBanner-body">
    <iconify-icon icon="octicon:info-16"></iconify-icon>
    <div class="spectrum-AlertBanner-content">
      <p class="spectrum-AlertBanner-text">
        Note that the tool creating this timeline fills in unknown fields
        in dates. Dates that have had fields filled in are marked as '(Estimated)'.
      </p>
    </div>
  </div>
</div>

<section class="timeline">
  [% IF timeline.size > 0 %]
    <div class="timeline-card">
      [% svg %]
    </div>
    <div class="footnotes">
      <ol>
      [% FOREACH key IN footnotes.keys.sort %]
        <li id="footnotes-[% key %]">
          [% FOREACH line IN footnotes.$key %]
            [% IF line AND line.length %]
              [% line %]
            [% ELSE %]
              <!-- No citation -->
              Citation Needed.
            [% END %]
          [% END %]
          <a
            href="#return-[% key %]"
            class="spectrum-Link spectrum-Link--quiet spectrum-Link--primary" >
            <span class="spectrum-Body spectrum-Body--sizeS">
              Return to Timeline
              <iconify-icon icon="icon-park-outline:return" class="return" width="none"></iconify-icon>
            </span>
          </a>
        </li>
      [% END %]
      </ol>
    </div>
  [% ELSE %]
    <p>No events available to display.</p>
  [% END %]
</section>
