@import url("@spectrum-css/typography");
@import url("@spectrum-css/card");

:root {
  --color-male: var(--spectrum-green-900);
  --color-female: var(--spectrum-purple-900);
  --mod-heading-margin-start: 0px;
}

div.family-tree li {
  /* stylelint-disable-next-line custom-property-pattern */
  --mod-treeview-font-size: var(--spectrum-Body--sizeM);
  /* stylelint-disable-next-line custom-property-pattern */
  --mod-treeview-line-height: var(--spectrum-Body--sizeM);
  /* stylelint-disable-next-line custom-property-pattern */
  --mod-icon-inline-size: var(--spectrum-Body--sizeS);
}

.color-female {
  color: var(--color-female);
}

.color-male {
  color: var(--color-male);
}

iconify-icon.color-female {
  color: var(--color-female);
}

iconify-icon.color-male {
  color: var(--color-male);
}

iconify-icon.spectrum-Icon.tree-toggle {
  padding-block: 0;
}

iconify-icon {
  display: inline-block;
  height: var(--mod-icon-inline-size);
  box-sizing: border-box;
}
