@import url("@spectrum-css/typography");
@import url("@spectrum-css/card");

:root {
  --color-male: var(--spectrum-green-900);
  --color-female: var(--spectrum-purple-900);
  --timeline-height: 47vh;
  --mod-heading-margin-start: 0px;
}

div.basic-info {
  max-height: 10vh;
}

div.spectrum-Card-preview {
  background-color: var(--spectrum-gray-300);
}

div.spectrum-Card-content ul {
  columns: 2;
  column-gap: 2em;
  max-width: 50vw;
}

div.spectrum-Card-body.gryffindor {
  background-color: var(--spectrum-red-900);

  --mod-body-font-color: var(--spectrum-gray-200);
  --spectrum-card-title-font-color: var(--spectrum-gray-200);
}

div.spectrum-Card-body.hufflepuff {
  background-color: var(--spectrum-yellow-300);

  --mod-body-font-color: var(--spectrum-gray-900);
  --spectrum-card-title-font-color: var(--spectrum-gray-900);
}

div.spectrum-Card-body.ravenclaw {
  background-color: var(--spectrum-blue-1000);

  --mod-body-font-color: var(--spectrum-gray-200);
  --spectrum-card-title-font-color: var(--spectrum-gray-200);
}

div.spectrum-Card-body.slytherin {
  background-color: var(--spectrum-chartreuse-800);

  --mod-body-font-color: var(--spectrum-gray-900);
  --spectrum-card-title-font-color: var(--spectrum-gray-900);
}

iconify-icon.color-female {
  color: var(--color-female);
}

iconify-icon.color-male {
  color: var(--color-male);
}

iconify-icon {
  display: block;
  height: 100%;
  width: 5em;
  box-sizing: border-box;
}

ul.bio {
  padding-left: 2em;

  --mod-body-margin-end: 1px;
}

.timeline-card {
  margin: 1px 0;
  min-width: 1vw;
  width: auto;
  max-width: 100%;
  height: calc(var(--timeline-height) + 2em);
  border-style: solid;
  border-color: var(--spectrum-blue-400);
  border-radius: 4px;
  z-index: 1;
  box-sizing: border-box;
}

svg .color-male {
  color: var(--color-male);
  stroke: var(--color-male);
  fill-opacity: 0;
}

svg .color-female {
  color: var(--color-female);
  stroke: var(--color-female);
  fill-opacity: 0;
}

svg .family-node.junction {
  color: var(--spectrum-blue-400);
  stroke: var(--spectrum-blue-400);
  fill-opacity: 0;
}
