/* stylelint-disable property-no-unknown */
@import url("@spectrum-css/tokens");
@import url("@spectrum-css/page");
@import url("@spectrum-css/typography");
@import url("@spectrum-css/alertbanner");
@import url("@spectrum-css/button");
@import url("@spectrum-css/divider");

iconify-icon {
  margin-right: 1.5rem;
  font-size: 2rem;
}

/* structure */
.timeline-card svg {
  display: block;
  width: 100%;
  height: auto;
  font-optical-sizing: auto;

  --mod-heading-margin-end: 0;
  --mod-heading-margin-start: 0;
  --mod-heading-serif-font-family: "EB Garamond", serif;

  & .spectrum-Heading--sizeM {
    --mod-heading-font-size: 10px;
  }

  & .spectrum-Heading--sizeS {
    --mod-heading-font-size: 8px;
  }
}

/* type-based colors (fallbacks) */
.birth {
  color: var(--spectrum-semantic-positive-color-default, #0a0);
}

.death {
  color: var(--spectrum-semantic-negative-color-default, #b00);
}

.other {
  color: var(--spectrum-global-color-blue-600, #06c);
}

/* qualifiers */
.estimated.range,
.estimated {
  stroke-dasharray: 4 3;
}

.calculated.range,
.calculated {
  stroke-dasharray: 2 2;
}

/* attributes of the people associated with events */
.color-female {
  color: var(--color-female);

  --gender-shade: var(--color-female);
}

.color-male {
  color: var(--color-male);

  --gender-shade: var(--color-male);
}

iconify-icon.color-female {
  color: var(--color-female);
}

iconify-icon.color-male {
  color: var(--color-male);
}

/* category based styling */
.mundane.england {
  background-color: transparent;
  background-image: linear-gradient(
    175deg,
    var(--spectrum-gray-200) 15%,
    var(--spectrum-red-200) 90%
  );
}

.mundane.scotland {
  background-color: transparent;
  background-image: linear-gradient(
    175deg,
    var(--spectrum-gray-200) 15%,
    var(--spectrum-blue-200) 90%
  );
}

.mundane.ireland {
  background-color: transparent;
  background-image: linear-gradient(
    175deg,
    var(--spectrum-gray-200) 15%,
    var(--spectrum-green-200) 90%
  );
}

.mundane.gb {
  background-image: linear-gradient(
    175deg,
    var(--spectrum-gray-200) 15%,
    var(--spectrum-red-200),
    var(--spectrum-blue-200)
  );
}

.magical {
  --category-color: var(--spectrum-purple-600);
}

.religious {
  --category-color: var(--spectrum-orange-200);
}

.generic {
  --category-color: var(--text-1);
}

/* defaults */

.edge {
  stroke-width: 2;
  stroke: var(--category-color);
}

.edge path {
  fill: none;
  stroke: var(--category-color);
}

.node {
  fill: none;
  stroke-width: 2;
  stroke: var(--category-color);
}

.timeline.node-label {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  place-content: center flex-start;
  padding: 2px;
  overflow-wrap: break-word;
  overflow: hidden;
  stroke-width: 1;
  text-wrap: pretty;
  height: 80px;
  width: 120px;
}

.timeline.detail-edge {
  stroke-dasharray: 1, 1;
  stroke-linecap: round;
  stroke: var(--category-color);
  stroke-width: 0.75px;
}

.timeline.node-label div {
  text-align: center;
  width: 100%;
}

/* .timeline.node-label tspan {

}

.timeline.node-label tspan:first-child {

}

.timeline.node-label tspan:nth-child(n + 2) {

}
*/
