/* stylelint-disable property-no-unknown */
@import url("@spectrum-css/tokens");
@import url("@spectrum-css/page");
@import url("@spectrum-css/typography");
@import url("@spectrum-css/alertbanner");
@import url("@spectrum-css/button");
@import url("@spectrum-css/divider");

iconify-icon {
  margin-right: 1.5rem;
  font-size: 2rem;
}

/* structure */
.timeline-card svg {
  margin-top: 3px;
  display: block;
  width: 100%;
  height: auto;
  font-optical-sizing: auto;

  --mod-heading-margin-end: 0;
  --mod-heading-margin-start: 0;
  --mod-heading-serif-font-family: "EB Garamond", serif;
  --gb: var(--spectrum-indigo-900);
  --ireland: var(--spectrum-green-600);
  --magical: var(--spectrum-fuchsia-600);
  --religious: var(--spectrum-orange-600);
  --scotland: var(--spectrum-cyan-600);
  --england: var(--spectrum-red-900);
  --generic: var(--spectrum-brown-800);
}

div.timeline-card svg .spectrum-Heading--sizeM,
div.timeline-card svg .spectrum-Body--sizeM,
div.timeline-card svg .spectrum-Detail--sizeM {
  --mod-heading-font-size: 12px;
  --mod-body-font-size: 12px;
  --mod-detail-font-size: 12px;
}

div.timeline-card svg .spectrum-Heading--sizeS,
div.timeline-card svg .spectrum-Body--sizeS,
div.timeline-card svg .spectrum-Detail--sizeS {
  --mod-heading-font-size: 10px;
  --mod-body-font-size: 10px;
  --mod-detail-font-size: 10px;
}

foreignObject div.spectrum-Body {
  --mod-body-margin-end: 0;
}

foreignObject div.spectrum-Body.description,
foreignObject div.spectrum-Body.sources {
  text-align: left;
}

foreignObject div.spectrum-Body.description blockquote {
  margin-inline: 2em 0;
  margin-block: 1px;
}

div.spectrum-Body ul {
  margin-block: 0;
  padding-inline: 2em 0;
  text-align: left;
}

div.spectrum-Body li.spectrum-Body {
  margin-block: 0;
}

/* type-based colors (fallbacks) */
.birth {
  color: var(--spectrum-semantic-positive-color-default, #0a0);
}

.death {
  color: var(--spectrum-semantic-negative-color-default, #b00);
}

.other {
  color: var(--spectrum-global-color-blue-600, #06c);
}

/* qualifiers */
.estimated.range,
.estimated {
  stroke-dasharray: 4 3;
}

.calculated.range,
.calculated {
  stroke-dasharray: 2 2;
}

/* attributes of the people associated with events */
.color-female {
  color: var(--color-female);

  --gender-shade: var(--color-female);
}

.color-male {
  color: var(--color-male);

  --gender-shade: var(--color-male);
}

iconify-icon.color-female {
  color: var(--color-female);
}

iconify-icon.color-male {
  color: var(--color-male);
}

iconify-icon.return {
  display: inline-block;
  max-height: 1em;
  max-width: 0.5em;
}

/* category based styling */

.england {
  --category-color: var(--england);
}

.scotland {
  --category-color: var(--scotland);
}

.gb {
  --category-color: var(--gb);
}

.ireland {
  --category-color: var(--ireland);
}

.magical {
  --category-color: var(--magical);
}

.religious {
  --category-color: var(--religious);
}

.generic {
  --category-color: var(--generic);
}

.mundane:not(.england, .scotland, .ireland, .gb, .religious) {
  --category-color: var(--generic);
}

/* defaults */

line,
circle {
  stroke: var(--category-color);
}

.edge {
  stroke-width: 2;
  stroke: var(--category-color);
}

.edge path {
  fill: none;
  stroke: var(--category-color);
}

.node {
  fill: none;
  stroke-width: 2;
  stroke: var(--category-color);
}

.node rect {
  fill: var(--category-color);
  fill-opacity: 0.1;
}

.timeline.node-label {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  place-content: center flex-start;
  padding: 2px;
  overflow-wrap: break-word;
  overflow: hidden;
  stroke-width: 1;
  text-wrap: pretty;
  height: 99%;
  width: 99%;
}

.timeline.detail-edge {
  stroke-dasharray: 1, 1;
  stroke-linecap: round;
  stroke: var(--category-color);
  stroke-width: 0.75px;
}

.timeline.node-label div {
  text-align: center;
  width: 100%;
}
